<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teacher</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Teacher</h1>
  <button onclick="window.location.href='/'">Go Back</button>
  <form method="GET" action="/teacher" id="sortForm">
    <input type="text" name="search" placeholder="Search by Teacher ID" value="<%= search %>">
    <select name="sort" onchange="document.getElementById('sortForm').submit()">
      <option value="TeacherID" <%= sort === 'TeacherID' ? 'selected' : '' %>>Teacher ID</option>
      <option value="TeacherDescription" <%= sort === 'TeacherDescription' ? 'selected' : '' %>>Teacher Description</option>
      <!-- Add more sort options if needed -->
    </select>
    <button type="submit">Search</button>
  </form>
<table>
  <thead>
    <tr>
      <th>TeacherID</th>
      <th>Teacher Name</th>
      <th>TeacherDescription</th>
    </tr>
  </thead>
  <tbody>
    <% teacher.forEach(teacherUser => { %>
      <tr>
        <td><%= teacherUser.TeacherID %></td>
        <td><%= teacherUser.TeacherName %></td>
        <td><%= teacherUser.TeacherDescription %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
</body>
</html>